<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>COVID Warriors BOT - OCR</title>
</head>

<body>
    <div>
        <h1>COVID Warriors BOT - OCR</h1>
        <form action="/process" method="post" enctype="multipart/form-data">
            <p>
                <input type="file" name="file" />
            </p>
            <p><input type="submit" value="Submit" /></p>
        </form>
    </div>
</body>